<ul>
	<li style="float: right;"><a href="#">Tab 1</a></li>
	<li style="float: right;"><a href="#">Tab 2</a></li>

	<li><%= tab_to "Dashboard", [{:controller => "dashboard" }] %></li>
	<li><%= tab_to "Ping Tab" %></li>
	<li><%= tab_to "Pong Tab" %></li>
</ul>